# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*
**/.env
**/.env.*

# OS-specific
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Data files
*.csv
*.sqlite
*.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build / dist
build/
dist/
*.egg-info/

# Temporary files
tmp/
*.tmp
